/** Customize Vxe Table style */

.vxe-grid {
  // form
  &--form-wrapper {
    .vxe-form {
      padding: 10px 20px !important;
      margin-bottom: 20px !important;
    }
  }

  // toolbar
  &--toolbar-wrapper {
    .vxe-toolbar {
      padding: 20px !important;
    }
  }

  // pagination
  &--pager-wrapper {
    .vxe-pager {
      height: 70px !important;
      padding: 0 20px !important;
      &--wrapper {
        // Refer to Bootstrap's responsive design WIDTH = 768
        @media screen and (max-width: 768px) {
          .vxe-pager--total,
          .vxe-pager--sizes,
          .vxe-pager--jump,
          .vxe-pager--jump-prev,
          .vxe-pager--jump-next {
            display: none !important;
          }
        }
      }
    }
  }
}
